body {
    font-family: "Cairo", sans-serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f1f1f1 ;
    text-align: center;
    width: 450px;
    height: 115px;
    border-radius: 6px;
}

.container h2 {
    margin-bottom: 30px;
}

.container input[type = 'text'] {
    width: 300px;
    margin-right: 10px;
    height: 30px;
    outline: none;
    border-radius: 6px;
    border: 2px solid #e0e0e0;
}

.container button {
    padding: 7px;
    color: white;
    font-weight: bold;
    background-color: #228b22;
    border: 1px solid #f1f1f1;
    border-radius: 6px;
    box-shadow: none;
    cursor: pointer;
}

.container ul li {
    position: relative;
    display: flex;
    background-color: #f1f1f1;
    text-align: left;
    margin-top: 10px;
    padding: 20px;
    border-radius: 6px;
}
.container ul li .deletebtn {
    position: absolute;
    background-color: #ff6666;
    font-weight: bold;
    border-radius: 6px;
    border: 1px solid #f1f1f1;
    cursor: pointer;
    right: 10px;
    top: 15px;
}